#OS files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
.AppleDouble
.LSOverride
~$*
*.tmp

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so
*.egg-info/
.eggs/
build/
dist/
*.spec

# Virtual env / tools
.venv/
__pycache__/
*.pyc
venv/
.env
.ruff_cache/
.mypy_cache/
.pytest_cache/

# Jupyter
.ipynb_checkpoints/
.jupyter/

# Logs
*.log

# (Intentionally NOT ignoring data/)
# Track environment files
#! environment.yml
#! requirements.txt