# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
build/
dist/
*.spec

# Virtual env / tools
.venv/
venv/
.env
.ruff_cache/
.mypy_cache/
.pytest_cache/
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
